---
pagination:
  data: plugins
  size: 1
  alias: plugin
permalink: "plugin/{{ plugin.package.name | slugify }}/"
eleventyComputed:
  title: "{{plugin.package.name}}"
layout: "base.njk"
---

<p>
  <a href="{{ plugin.package.links.homepage}}">Homepage</a>
</p>

<p>{{ plugin.package.description }}</p>

<label for="version">Version</label>
<input type="text" id="version" value="{{ plugin.package.version }}">

<label for="license">License</label>
<input type="text" id="license" value="{{ plugin.package.license }}">

<label for="publish_date">Published</label>
<input type="date" id="publish_date" value="{{ plugin.package.date.slice(0, 10) }}">

<details>
  <summary>Debug data</summary>
  <code><pre>{{ plugin | jsonify }}</pre></code>
</details>
