---
layout: "base.njk"
---

<aside>
  <details class="sidebar">
    <summary>API Navigation</summary>
    <nav>
      <ul>
        <li><a href="/api/bdd/">Expect / Should API</a></li>
        <li><a href="/api/assert/">Assert API</a></li>
        <li><a href="/api/plugins/">Plugin API</a></li>
        <li><a href="/api/test/">Online Test Suite</a></li>
      </ul>
    </nav>
  </details>
</aside>

{{ content | safe }}
