<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/index.css">
    <link rel="stylesheet" href="/assets/pico.min.css">
    <link rel="stylesheet" href="/assets/prism-tomorrow.min.css">
  </head>
  <body>
    <header class="container">
      <h1>{{ title }}</h1>
      <nav class="container">
        <ul>
          <li>
            {% if page.url == '/' %}
              <strong><a href="/">Home</a></strong>
            {% else %}
              <a href="/">Home</a>
            {% endif %}
          </li>
          <li>
            {% if page.url.startsWith('/guide/') %}
              <strong><a href="/guide/">Guide</a></strong>
            {% else %}
              <a href="/guide/">Guide</a>
            {% endif %}
          </li>
          <li>
            {% if page.url.startsWith('/api/') %}
              <strong><a href="/api/">API</a></strong>
            {% else %}
              <a href="/api/">API</a>
            {% endif %}
          </li>
          <li>
            {% if page.url.startsWith('/plugins/') %}
              <strong><a href="/plugins/">Plugins</a></strong>
            {% else %}
              <a href="/plugins/">Plugins</a>
            {% endif %}
          </li>
          <li>
            <a href="https://github.com/chaijs/chai" target="_blank">GitHub</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="container" style="padding-top: 0;">
      <section>
        {{ content | safe }}
      </section>
    </main>

    <footer class="container">
      <p>© 2025 Chai.js Documentation</p>
    </footer>
  </body>
</html>
